body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #d8aaff, #a29bfe);
    font-family: 'Poppins', sans-serif; /* Cambiar la fuente principal */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: 200% 200%;
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.container {
    text-align: center;
    max-width: 50%; /* Reducir el ancho máximo para ocupar menos espacio horizontal */
    padding: 20px; /* Ajustar el padding */
    margin: auto;
}

.date, .version {
    font-size: 24px;
    margin: 10px;
    font-style: italic;
}

.roulette {
    margin: 10px 0; /* Reducir el margen para ocupar menos espacio vertical */
    position: relative;
}

.roulette img {
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.roulette img.show {
    opacity: 1;
}

.message {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    font-family: 'Caveat', cursive; /* Fuente decorativa */
    font-weight: bold;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    .date, .version {
        font-size: 18px;
    }

    .roulette img {
        max-width: 200px;
    }
}

